+ MAYAVERSION:@MAYA_VERSION@ ovrtxMayaPlugin 1.0 @INSTALL_PREFIX_NORMALIZED@
plug-ins: plug-ins_@MAYA_VERSION@
PATH+:=plug-ins_@MAYA_VERSION@
PXR_USD_WINDOWS_DLL_PATH+:=plug-ins_@MAYA_VERSION@
PXR_MTLX_STDLIB_SEARCH_PATHS+:=plug-ins_@MAYA_VERSION@/library/materialx
